.button {
    width: 100%;
    background-color: goldenrod;
    color: white;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
}

.button:disabled {
    background-color: black;
    opacity: 40%;
    cursor: not-allowed;
}